@media screen and (max-width: 768px) {
    :root, body, html{
        /* PADDING SMALLER */
        --padding-lg: 40px;
        --padding-md: 30px;
        --padding-sm: 20px;
    }

    .input-box{
        flex-direction: column;
    }

    .input-box *{
        width: 100%;
    }

    section{
        height: max-content;
        position: relative;
    }

    .hero{
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .hero .right{
        display: none;
    }

    .hero .left{
        text-align: center;
        justify-content: center;
    }

    .hero .left .search-property{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 75px 0;
        transform: none;
    }

    .hero .left .search-property > *, .dropdown-content{
        width: 100%;
        position: relative;
    }

    .top-offers-headings{
        flex-direction: column;
    }

    .top-offers-headings > *{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .about-us{
        display: flex;
        flex-direction: column;
    }

    .references .testimonial{
        display: flex;
        flex-direction: column;
    }








    .filter .filter-settings{
        flex-direction: column;
        gap: 25px;
    }

    .unit-list{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        gap: 50px;
    }
}


@media screen and (max-width: 476px) {
    :root, body, html {
        /* PADDING SMALLER */
        --padding-lg: 20px;
        --padding-md: 15px;
        --padding-sm: 10px;
    }

    nav .navbar .menu.active{
        width: 60vw;
    }
}